---
interface Props {
    top?: string;
    left?: string;
    right?: string;
    bottom?: string;
}

const { top , left = '50%', right, bottom } = Astro.props;

const style = `
  ${top ? `top: ${top};` : ''}
  left: ${left};
  ${right ? `right: ${right};` : ''}
  ${bottom ? `bottom: ${bottom};` : ''}
  transform: translateX(-50%);
`.trim();
---

<span
    class="-z-50 absolute inline uppercase font-extrabold text-[14rem] text-gray-300/40 pointer-events-none  whitespace-nowrap"
    style={style}
>
    <slot />
</span>
