---
interface Props {
    top?: string; // ex: '10%' ou '0'
    left?: string; // ex: '50%' ou '0'
    right?: string; // opcional
    bottom?: string; // opcional
    size?: string; // ex: '12rem', default: '12rem'
    color?: string; // ex: 'bg-purple-300/50', default: 'bg-purple-300/50'
    blur?: string; // ex: 'blur-xl', default: 'blur-xl'
    class?: string;
}

const {
    top,
    left = '50',
    right,
    bottom,
    size = '55rem',
    color = 'bg-accent',
    blur = 'blur-[200px]',
    class: className
} = Astro.props;

const style = `
    ${top ? `top: ${top};` : ''}
    left: ${left};
    ${right ? `right: ${right};` : ''}
    ${bottom ? `bottom: ${bottom};` : ''}
    width: ${size};
    height: ${size};
`;
---

<div
    class={`absolute rounded-full ${color} ${blur} ${className}`}
    style={style}
>
</div>
